{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h1>Rechercher : </h1>
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
{% endblock %}