body{
    background-color: antiquewhite;
}

h1{
    color: #0000F0;
}

a{
    text-decoration: none;
}

.error{
    color: #AA3333;
}

hr{
    border:1px solid gray;
}

#searchArtist{
    display: none;
}

.search{
    margin-top: 8px;
    margin-left: 70px;
    width: 600px;
    border-radius: 3px;

}

.btn-search{
    height: 30px;
    padding-bottom: 12px;
}

.searchArea{
    height: 30px;
}